<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <% include('../partials/header') %>
  <div id="all-content">
    <aside>
      <div class="user-info">
        <h1><%= user.name %></h1>
        <h2><%= user.email %></h2>
      </div>
      <div class="nav-option active" data-selector="all-jobs">View Jobs</div>
      <div class="nav-option" data-selector="add-jobs">Add Jobs</div>
      <a href="/users/logout" class="nav-option logout" data-selector="add-jobs">Logout</a>
    </aside>
    <div id="main-section-container">
      <div class="main-section all-jobs active">
        <table id="all-jobs-table">
          <thead>
            <tr>
              <th>Company</th>
              <th>Job Title</th>
              <th>Location</th>
              <th>Application Link</th>
              <th>Remote</th>
              <th>Date Found</th>
              <th>Date Applied</th>
              <th>Employer Response</th>
              <th>Your Preference</th>
            </tr>
          </thead>
          <tbody>
            <% jobs.forEach(job => { %>
              <% const UTCFoundTS = job.dateFound.getTime() + (job.dateFound.getTimezoneOffset() * 60*1000); %>
              <% const UTCAppliedTS = job.dateApplied.getTime() + (job.dateApplied.getTimezoneOffset() * 60*1000); %>
              <% job.dateFound = new Date(UTCFoundTS); %>
              <% job.dateApplied = new Date(UTCAppliedTS); %>
              <tr class="pref-<%= job.preference %>" data-id="<%= job._id %>">
                <td class="company"><%= job.companyName %></td>
                <td><%= job.title %></td>
                <td><%= job.location %></td>
                <td><a target="_blank" href="<%= job.link %>"><%= job.link %></a></td>
                <td><%= job.remote %></td>
                <td><%= job.dateFound.toDateString() %></td>
                <td><%= job.dateApplied.toDateString() %></td>
                <td><%= job.response ? 'Yes' : 'No' %></td>
                <td>
                  <span><%= job.preference %></span>
                  <form class="close-btn" action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
                    <img src="/images/close-black.svg" alt="Close button">
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="main-section add-jobs">
        <h1>Track a Job!</h1>
        <form id="add-job-form" action="/jobs/" method="POST">
          <div class="input-container company">
            <label>Company:</label>
            <input id="company" type="text" name="companyName">
          </div>
          <div class="input-container title">
            <label>Title:</label>
            <input id="title" type="text" name="title">
          </div>
          <div class="input-container location">
            <label>Location:</label>
            <input id="location" type="text" name="location">
          </div>
          <div class="input-container link">
            <label>Link:</label>
            <input id="link" type="text" name="link">
          </div>
          <div class="input-container remote">
            <label>Remote:</label>
            <select name="remote" id="remote">
              <option selected value="Remote">Remote</option>
              <option value="Hybrid">Hybrid</option>
              <option value="On-site">On-site</option>
            </select>
          </div>
          <div class="input-container datef">
            <label>Date Found:</label>
            <input id="datef" type="date" name="dateFound">
          </div>
          <div class="input-container datea">
            <label>Date Applied:</label>
            <input id="datea" type="date" name="dateApplied">
          </div>
          <div class="input-container response">
            <label>Response:</label>
            <select name="response" id="response">
              <option selected value="0">NO</option>
              <option value="1">YES</option>
            </select>
          </div>
          <div class="input-container preference">
            <label>Preference:</label>
            <select name="preference" id="preference">
              <option value="1">1</option>
              <option value="2">2</option>
              <option selected value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <button type="submit">Create Job</button>
        </form>
      </div>
    </div>
  </div>
</body>

<script>

  $(document).ready( function () {
    $('#all-jobs-table').DataTable();
  });

  $('.nav-option:not(.logout)').on('click', function() {
    $('.nav-option, .main-section').removeClass('active');
    $(this).addClass('active');
    $(`.main-section.${$(this).data('selector')}`).addClass('active');
  });

  $('.close-btn').on('click', function() {

    let company = $(this).parents('tr').find('td.company').text();
    const deleteJobForm = this;

    swal({
      icon: 'warning',
      title: 'Delete Job Application',
      text: `Are you sure you would like to delete your application for ${company}`,
      buttons: ["GO BACK", "Yes, Delete"],
      className: 'swal-delete-job'
    }).then(deleteJob => {
      if (deleteJob) deleteJobForm.submit();
    })
    
  })
  
</script>

</html>